* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgba(0, 0, 0, 0.87);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

}

.menu {
  display: flex;
  list-style-type: none;
}

.menu li {
  margin-left: 20px;
}