<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar Link</title>
</head>

<body>
    <form action="/" method="POST">
        <input type="text" name="title" class="field" required placeholder="Título" value="<%=body.title%>">
        <input type="text" name="description" class="field" placeholder="Descrição" value="<%=body.description%>">
        <input type="text" name="url" class="field" required placeholder="URL" value="<%=body.url%>">
        <button>Salvar</button>
    </form>

    <%if(error){%>
        <h3>
            <%=error.message%>
        </h3>
        <%}%>
</body>

</html>