@charset "UTF-8";

body{
    background-color: rgb(186, 254, 186);
    font-family: Arial, Helvetica, sans-serif;
}

#maintitle{
    color: rgb(1, 70, 1);
    text-align: center;
}

h2{
    color: green;
}

h3{
    color: rgba(1, 107, 1, 0.682);
}

.basico{
    color: #3c805e;
}

.intermediario{
    color: #80793c;
}

.avançado{
    color: #803c3c;
}

.destaque{
    background-color: #6d68398f;
}