body {
    padding: 0;
    margin: 0;
}

header {
    overflow: hidden;
    margin: auto;
    width: 80%;
    padding: 15px;
    background-color: rgb(1, 193, 193);
}

.menu {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
}

li {
    padding: auto;
    float: left;
    margin-left: 15px;
}

.logo {
    float: left;
}

@media screen and (max-width: 500px) {
    .logo {
        float: none;
        text-align: center;
    }
    
    .menu {
        float: none;
        text-align: center;
        margin-top: 20px;
    }

    li {
        padding: 10px;
        margin: 0;
        margin-bottom: 5px;
        float: none;        
    }
}