<style>
    nav {
        display: flex;
        justify-content: space-between;
        background-color: #7b7b7b;
        color: black;
        padding: 10px;
        margin-bottom: 3em;
    }

    nav a {
        color: black;
        text-decoration: none;
    }

    nav a:hover {
        color: white;
        text-decoration: underline;
    }
</style>

<nav>
    <h1>Logo</h1>
    <div>
        <a href="/">Home</a>
        <a href="/about">Sobre</a>
    </div>
</nav>